---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":74121,"perpage":1,"total":"74121","photo":[{"id":"50850871036","owner":"50751138@N02","secret":"0073227b46","server":"65535","farm":66,"title":"MesaVerde_4715","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50850871036_0073227b46_b.jpg","height_l":597,"width_l":1024}]},"stat":"ok"})
  recorded_at: Tue, 19 Jan 2021 18:47:53 GMT
recorded_with: VCR 6.0.0
