---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":72788,"perpage":1,"total":"72788","photo":[{"id":"50838216061","owner":"191772807@N04","secret":"0e41eea5da","server":"65535","farm":66,"title":"20201229_092601.arw.08","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50838216061_0e41eea5da_b.jpg","height_l":683,"width_l":1024}]},"stat":"ok"})
  recorded_at: Tue, 19 Jan 2021 18:17:08 GMT
recorded_with: VCR 6.0.0
