---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":70830,"perpage":1,"total":"70830","photo":[{"id":"50837028496","owner":"189196487@N04","secret":"516540d729","server":"65535","farm":66,"title":"Denver
        Police","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50837028496_516540d729_b.jpg","height_l":576,"width_l":1024}]},"stat":"ok"})
  recorded_at: Sun, 17 Jan 2021 22:24:26 GMT
recorded_with: VCR 6.0.0
