---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"stat":"fail","code":3,"message":"Parameterless searches
        have been disabled. Please use flickr.photos.getRecent instead."})
  recorded_at: Tue, 19 Jan 2021 21:10:11 GMT
recorded_with: VCR 6.0.0
