---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":74851,"perpage":1,"total":"74851","photo":[{"id":"50839319522","owner":"7630637@N02","secret":"8605c88e22","server":"65535","farm":66,"title":"Colorado
        River Trail | Rocky Mountain National Park Colorado '08","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50839319522_8605c88e22_b.jpg","height_l":683,"width_l":1024}]},"stat":"ok"})
  recorded_at: Sun, 17 Jan 2021 20:50:09 GMT
recorded_with: VCR 6.0.0
