---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":70986,"perpage":1,"total":"70986","photo":[{"id":"50846065993","owner":"7630637@N02","secret":"891c9459ce","server":"65535","farm":66,"title":"Old
        Silver Mine - Colorado River Trail | Rocky Mountain National Park Colorado
        '08","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50846065993_891c9459ce_b.jpg","height_l":554,"width_l":1024}]},"stat":"ok"})
  recorded_at: Mon, 18 Jan 2021 00:02:11 GMT
recorded_with: VCR 6.0.0
