---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&extras=url_l&format=json&method=flickr.photos.search&per_page=1&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photos":{"page":1,"pages":74433,"perpage":1,"total":"74433","photo":[{"id":"50838724227","owner":"40784187@N07","secret":"6f680480aa","server":"65535","farm":66,"title":"Scatternagh
        Lane","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/50838724227_6f680480aa_b.jpg","height_l":728,"width_l":1024}]},"stat":"ok"})
  recorded_at: Tue, 19 Jan 2021 18:41:58 GMT
recorded_with: VCR 6.0.0
